body {
    background-color: #fff;
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }
 .wrap{
   
    padding: 0;
    min-height: 45vh; 
    /* background-color: #fff;
    box-shadow: 7px 0 25px -4px #ccc, -7px 0 16px -4px #ccc; */
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; 
}

.links {
    margin:0;
    padding:0;
    height: 70vh;
    overflow-y: auto;
    width: 100%;
}

 @media (min-width:300px)  { 
    /* smartphones, iPhone, portrait 450x320 phones */ 
    .wrap{
        margin: 0;
        width: 100%;
    }
}
@media (min-width:321px)  { 
    /* smartphones, iPhone, portrait 450x320 phones */ 
    .wrap{
        margin: 0;
        width: 100%;
    }
  
}

@media (min-width:481px)  { 
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
    .wrap{
        margin: 0;
        width: 100%;
    }
  
}
@media (min-width:961px)  { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .container-fluid{
        animation: fadein 1s;
        -moz-animation: fadein 1s; /* Firefox */
        -webkit-animation: fadein 1s; /* Safari and Chrome */
        -o-animation: fadein 1s; 
     }
     .wrap{
        margin: 0 auto;
        width: 70%;
    }
}
@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
    .wrap{
        margin: 0 auto;
        width: 50%;
    }
  
}
@media (min-width:1281px) { 
    /* hi-res laptops and desktops */ 
    .wrap{
        margin: 0 auto;
        width: 50%;
    }
}



 /* ANIMATIONS */

/* LEFT -> RIGHT */
@keyframes leftToRight {
    from {
        margin-left: 0%;
        
    }

    to {
        margin-left: 25%;
       
    }
}
@-moz-keyframes leftToRight { /* Firefox */
    from {
        margin-left: 0%;
    }

    to {
        margin-left: 25%;
    }
}
@-webkit-keyframes leftToRight { /* Safari and Chrome */
    from {
        margin-left: 0%;
    }

    to {
        margin-left: 25%;
    }
}
@-o-keyframes leftToRight { /* Opera */
    from {
        margin-left: 0%;
    }

    to {
        margin-left: 25%;
    }
}

/* RIGHT <- LEFT */
@keyframes rightToLeft {
    from {
        margin-right: 0%;
        
    }

    to {
        margin-right: 25%;
       
    }
}
@-moz-keyframes rightToLeft { /* Firefox */
    from {
        margin-right: 0%;
    }

    to {
        margin-right: 25%;
    }
}
@-webkit-keyframes rightToLeft { /* Safari and Chrome */
    from {
        margin-right: 0%;
    }

    to {
        margin-right: 25%;
    }
}
@-o-keyframes rightToLeft { /* Opera */
    from {
        margin-right: 0%;
    }

    to {
        margin-right: 25%;
    }
}

/* FADE IN */
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/* FADE IN */
@keyframes fadeOut {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-moz-keyframes fadeOut { /* Firefox */
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-webkit-keyframes fadeOut { /* Safari and Chrome */
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-o-keyframes fadeOut { /* Opera */
    from {
        opacity:1;
    }
    to {
        opacity: 0;
    }
}

/* TOP TO BOTTON */
@keyframes topBotton {
    from {
        margin-top: 0%;
    }

    to {
        margin-top: %;
    }
}
@-moz-keyframes topBotton { /* Firefox */
    0% {
        transform: translateY(-100%);
      }
      100% {
        transform: translateY(0);
      }
}
@-webkit-keyframes topBotton { /* Safari and Chrome */
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
@-o-keyframes topBotton { /* Opera */
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

/* BOTTON TO TOP */
@keyframes bottonTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
@-moz-keyframes bottonTop { /* Firefox */
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
@-webkit-keyframes bottonTop { /* Safari and Chrome */
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
@-o-keyframes bottonTop { /* Opera */
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}